<h1><%= link_to @merchant.name %></h1>
<section>
<p><%= @merchant.address %></p>
<p><%= @merchant.city %> <%= @merchant.state %> <%= @merchant.zip %></p>
</section>

<section>
<h3><%= link_to 'My Items', '/merchant/items' %></h3>
</section>
<h1>My Orders</h1>
<section class="orders">
  <% @merchant.pending_orders.each do |order| %>
    <div id="order-<%= order.id %>">
      <p>Order ID: <%= link_to order.id, "/merchant/orders/#{order.id}" %></p>
      <p>Potential Revenue: <%= order.merchant_subtotal(@merchant.id) %></p>
      <p>Quantity of Items: <%= order.merchant_quantity(@merchant.id) %></p>
      <p>Created: <%= order.created_at %></p>
    </div>
  <% end %>
</section>
