<h1><%= @user.name %></h1>
<p><%= @user.email %></p>

<%= link_to 'My Orders', '/profile/orders' %>
<br>
<%= link_to "My Addresses", user_addresses_path %>
<br>
<%= link_to 'Edit', '/profile/edit' %>
<%= link_to 'Change Password', '/profile/edit_password' %>
