<h3>My Addresses:</h3>

<% @addresses.each do |address| %>
<section id='address-<%=address.id%>'>
	<p>Address Type: <%= address.nickname %></p>
	<p>Ship To: <%= address.name %> </p>
	<p>Address: <%= address.address %></p>
	<p>City: <%= address.city %> State: <%= address.state %> Zip: <%= address.zip %></p>
	<%= link_to "Edit Address", edit_user_address_path(address) %>
	<%= link_to "Delete Address", user_address_path(address), method: :delete %>
</section>
<% end %>

<%= link_to "New Address", new_user_address_path %>
